@use "sass:meta";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;

// Additional styles
@include meta.load-css('additional-styles/utility-patterns.scss');
@include meta.load-css('additional-styles/range-slider.scss');
@include meta.load-css('additional-styles/toggle-switch.scss');
@include meta.load-css('additional-styles/flatpickr.scss');
@include meta.load-css('additional-styles/theme.scss');

@layer base {
  html, body {
    height: 100%;
  }

  body {
    @apply font-grotesk bg-gray-100;
  }
}

@tailwind utilities;